@mixin content {
  width: 100%;
  max-width: 1350px;
}
@mixin display-f-c {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin card-services(
  $bg-color: rgb(243, 243, 243),
  $border-color: rgba(25, 26, 35, 1)
) {
  position: relative;
  background-color: $bg-color;
  width: 100%;
  max-width: 600px;
  height: 350px;
  border-radius: 2rem;
  padding: 48px;
  display: flex;
  justify-content: space-between;
  border: 2px solid $border-color;
  box-shadow: $border-color 0px 5px 0px 0px;
  @media (min-width: 781px) {
    width: 100%;
    max-width: 80%;
    margin: auto;
  }
  @media (min-width: 975px) {
    max-width: 48%;
    min-width: 450px;
  }
}
