@mixin content {
  width: 100%;
  max-width: 1350px;
}
@mixin display-f-c {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin card-services {
  width: 49%;
  background-color: rgb(243 243 243);
  border-radius: 2rem;
  padding: 48px;
  display: flex;
  justify-content: space-between;
  border: 2px solid rgba(25, 26, 35, 1);
  box-shadow: rgba(25, 26, 35, 1) 0px 5px 0px 0px;
}
