@use "forward" as fw;

body {
  @include fw.display-f-c;
  font-family: "Space Grotesk", sans-serif;
  margin: 0px 20px;
}

/* HEADER */
.header-content {
  @include fw.content();
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 12px 0px;

  .logo {
    height: 36px;
  }

  nav {
    @include fw.display-f-c;

    ul {
      font-size: 1rem;
      font-weight: 500;
      display: flex;
      list-style: none;
      gap: 10px;

      li {
        cursor: pointer;
        padding: 10px;

        a {
          color: fw.$dark-color;
        }
      }
    }

    .btn-nav {
      @include fw.display-f-c;
      cursor: pointer;
      margin-left: 30px;

      a {
        background-color: fw.$white-color;
        border: 1px solid fw.$dark-color;
        padding: 1.5rem 2rem;
        border-radius: 1rem;
        font-size: 1.25rem;
        font-weight: 400;
        color: fw.$dark-color;

        &:hover {
          color: fw.$white-color;
          background-color: fw.$dark-color;
        }
      }
    }
  }
}

/* MAIN */
.main-content {
  @include fw.content();
  margin-bottom: 80px;

  .wrapper-main {
    margin: 40px 0px 80px;
    display: flex;
    align-items: center;

    main {
      display: flex;
      flex-direction: column;
      gap: 15px;
      width: 50%;

      h1 {
        font-size: 3.75rem;
        max-width: 500px;
      }

      p {
        font-size: 1.25rem;
        line-height: 1.2;
      }

      .btn-primary {
        cursor: pointer;

        a {
          color: #ffffff;
          background-color: fw.$dark-color;
          display: inline-block;
          border: 1px solid fw.$dark-color;
          padding: 1.5rem 2rem;
          border-radius: 1rem;
          font-size: 1.25rem;
          font-weight: 400;

          &:hover {
            color: fw.$dark-color;
            background-color: fw.$white-color;
          }
        }
      }
    }

    img {
      width: 50%;
    }
  }

  .wrapper-partners {
    display: flex;
    justify-content: space-around;
    margin: 50px 0px;

    div {
      @include fw.display-f-c;
      cursor: pointer;

      img {
        height: 48px;
        filter: grayscale(1);
        opacity: 0.8;

        &:hover {
          filter: grayscale(0);
          opacity: 1;
        }
      }
    }

    & :nth-child(2) img {
      height: 35px;
    }
  }
}

/* SERVICES */
.services-content {
  @include fw.content();
  padding: 50px 0px;

  > :first-child {
    display: flex;
    align-items: center;
    margin-bottom: 60px;
    h2 {
      font-size: 3.75rem;
      font-weight: 500;
      background-color: fw.$primary-color;
      border-radius: 0.5rem;
      padding: 10px 5px;
    }
    p {
      max-width: 700px;
      margin-left: 30px;
      font-size: 1.25rem;
      line-height: 1.2;
    }
  }

  .card {
    > :first-child {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 50%;

      h3 {
        max-width: 220px;
        line-height: 1.2;
        font-size: 1.75rem;
        font-weight: 500;

        span {
          background-color: fw.$primary-color;
          border-radius: 0.5rem;
          padding: 0px 5px;
        }
      }

      .more {
        display: flex;
        align-items: center;

        img {
          width: 45px;
          border-radius: 50%;
          background-color: #ffffff;
          padding: 8px;
        }

        span {
          padding-left: 20px;
          font-size: 1.25rem;
        }
      }
    }

    > :last-child {
      img {
        max-width: 210px;
        height: 210px;
      }
    }
  }

  .wrapper-cards {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;

    > :nth-child(3n + 1) {
      @include fw.card-services();

      > :first-child .more img {
        background-color: fw.$dark-color;
      }
    }

    > :nth-child(3n + 2) {
      @include fw.card-services(fw.$primary-color);

      > :first-child {
        h3 span {
          background-color: rgb(255, 255, 255);
        }

        .more img {
          background-color: fw.$dark-color;
        }
      }
    }

    > :nth-child(3n + 3) {
      @include fw.card-services(fw.$dark-color);

      > :first-child {
        h3 span {
          background-color: rgb(255, 255, 255);
        }

        .more {
          color: #ffffff;
        }
      }
    }
  }
}

/* PROPOSTAL */
.propostal-content {
  @include fw.content;
  margin: 80px 0px;
  display: flex;
  align-items: center;

  .wrapper-propostal {
    display: flex;
    border-radius: 3rem;
    background-color: #f3f3f3;

    > :first-child {
      width: 50%;
      padding: 60px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      h2 {
        font-size: 2.5rem;
        font-weight: 500;
      }
      p {
        font-size: 1.25rem;
      }
      .btn-primary {
        cursor: pointer;

        a {
          color: #ffffff;
          background-color: fw.$dark-color;
          display: inline-block;
          border: 1px solid fw.$dark-color;
          padding: 1.5rem 2rem;
          border-radius: 1rem;
          font-size: 1.25rem;
          font-weight: 400;

          &:hover {
            color: fw.$dark-color;
            background-color: fw.$white-color;
          }
        }
      }
    }
    > :last-child {
      text-align: center;
      width: 50%;
      img {
        width: 450px;
        margin: -4rem 0;
      }
    }
  }
}

/* CASES */
.cases-content {
  @include fw.content;
  margin: 100px 0px;
  > :first-child {
    display: flex;
    align-items: center;
    margin-bottom: 60px;
    h2 {
      font-size: 3.75rem;
      font-weight: 500;
      background-color: fw.$primary-color;
      border-radius: 0.5rem;
      padding: 10px 5px;
    }
    p {
      max-width: 700px;
      margin-left: 30px;
      font-size: 1.25rem;
      line-height: 1.2;
    }
  }

  > :last-child {
    padding: 60px;
    display: flex;
    border-radius: 3rem;
    color: #ffffff;
    font-size: 1.25rem;
    font-weight: 300;
    background-color: fw.$dark-color;

    .case-card {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 30px;

      p {
        line-height: 1.3;
        text-align: left;
      }
      > :last-child {
        cursor: pointer;
        display: flex;
        align-self: self-start;
        font-size: 1.25rem;
        color: fw.$primary-color;
        margin-top: 30px;

        img {
          width: 28px;
          margin-left: 15px;
        }
      }
    }
    > :nth-child(2) {
      border-left: 2px solid rgba(255, 255, 255, 0.45);
      border-right: 2px solid rgba(255, 255, 255, 0.45);
    }
  }
}

/* OUR WORKING PROCESS */
.process-content {
  @include fw.content;
  margin: 100px 0px 160px;

  > :first-child {
    display: flex;
    align-items: center;
    margin-bottom: 60px;
    h2 {
      font-size: 3.75rem;
      font-weight: 500;
      background-color: fw.$primary-color;
      border-radius: 0.5rem;
      padding: 10px 5px;
    }
    p {
      max-width: 700px;
      margin-left: 30px;
      font-size: 1.25rem;
      line-height: 1.2;
    }
  }
  .wrapper-process {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    width: 100%;

    .card-process {
      background-color: fw.$primary-color;
      padding: 40px 60px;
      border-radius: 2rem;
      border: 2px solid fw.$dark-color;
      box-shadow: fw.$dark-color 0px 5px 0px 0px;
      width: 100%;

      > :first-child {
        max-width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 2px solid fw.$dark-color;
        padding-bottom: 30px;

        > :first-child {
          display: flex;
          align-items: center;
          h4 {
            margin-right: 30px;
            font-size: 3.75rem;
          }
          p {
            font-size: 1.875rem;
            font-weight: 500;
          }
        }
        .expand {
          cursor: pointer;
          width: 50px;
          height: 50px;
          background-color: #f3f3f3;
          border: 1px solid fw.$dark-color;
          border-radius: 50%;
          position: relative;
          &::before,
          &::after {
            content: "";
            position: absolute;
            right: 11px;
            top: 21px;
            display: block;
            width: 26px;
            height: 6px;
            background-color: black;
          }
        }
      }
      > :last-child {
        padding: 30px 20px 0px;
      }
    }
    .card-process.close {
      background-color: #f3f3f3;
      > :first-child {
        border: none;
        padding-bottom: 0px;
        .expand {
          &::before {
            transform: rotate(90deg);
          }
        }
      }
      > :last-child {
        display: none;
      }
    }
  }
}

/* TEAM */
.team-content {
  @include fw.content;
  margin: 100px 0px;
  display: flex;
  flex-direction: column;

  > :first-child {
    display: flex;
    align-items: center;
    margin-bottom: 60px;
    h2 {
      font-size: 3.75rem;
      font-weight: 500;
      background-color: fw.$primary-color;
      border-radius: 0.5rem;
      padding: 10px 5px;
    }
    p {
      max-width: 700px;
      margin-left: 30px;
      font-size: 1.25rem;
      line-height: 1.2;
    }
  }

  .wrapper-team {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    .card-team {
      max-width: 32%;
      display: flex;
      flex-direction: column;
      padding: 40px;
      position: relative;
      border-radius: 1rem;
      border: 2px solid fw.$dark-color;
      box-shadow: fw.$dark-color 0px 5px 0px 0px;

      > img {
        position: absolute;
        width: 40px;
        right: 30px;
        top: 30px;
        filter: invert(1);
      }
      > :nth-child(2) {
        display: flex;
        padding-bottom: 30px;
        border-bottom: 2px solid fw.$dark-color;
        img {
          width: 100px;
          margin-right: 20px;
        }
        > div {
          align-self: flex-end;
          > :first-child {
            font-size: 1.25rem;
            line-height: 1.3;
            font-weight: 500;
          }
          > :last-child {
            font-size: 1.125rem;
          }
        }
      }
      > :last-child {
        margin: 20px 20px 0;
        p {
          line-height: 1.3;
        }
      }
    }
  }

  .btn-primary {
    cursor: pointer;
    align-self: flex-end;
    padding-top: 50px;
    a {
      color: #ffffff;
      background-color: fw.$dark-color;
      display: inline-block;
      border: 1px solid fw.$dark-color;
      padding: 1.5rem 2rem;
      border-radius: 1rem;
      font-size: 1.25rem;
      font-weight: 400;

      &:hover {
        color: fw.$dark-color;
        background-color: fw.$white-color;
      }
    }
  }
}

/* TESTIMONIALS */
.testimonials-content {
  @include fw.content;

  > :first-child {
    display: flex;
    align-items: center;
    margin-bottom: 60px;
    h2 {
      font-size: 3.75rem;
      font-weight: 500;
      background-color: fw.$primary-color;
      border-radius: 0.5rem;
      padding: 10px 5px;
    }
    p {
      max-width: 700px;
      margin-left: 30px;
      font-size: 1.25rem;
      line-height: 1.2;
    }
  }
  .wrapper-testimonials {
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
    background-color: fw.$dark-color;
    padding: 60px;
    border-radius: 3rem;

    .testimonial {
      position: relative;
      width: 100%;
      padding: 50px 0;
      overflow: hidden;

      .swiper-wrapper {
        position: relative;
        z-index: 20;
        display: flex;
        max-width: 600px;
        background-color: aqua;

        .swiper-slide {
          flex-shrink: 0;
          width: 100%;
          height: 100%;

          position: relative;
        }

        .slide {
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
          row-gap: 30px;
          height: 100%;
          width: 100%;
          p {
            text-align: center;
            padding: 0 160px;
            color: #ffffff;
            font-size: 1.125rem;
            font-weight: 200;
            line-height: 1.2;
          }

          .details {
            display: flex;
            flex-direction: column;
            align-items: center;
            color: fw.$primary-color;
            .name {
              font-size: 1.5rem;
            }
            .job {
              font-size: 1.125rem;
            }
          }
        }
      }

      .swiper-button-next,
      .swiper-button-prev {
        cursor: pointer;
        position: absolute;
        bottom: 10%;
        width: 50px;
        height: 50px;
        z-index: 10;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        padding: 10px;
        background-color: fw.$primary-color;
        transition: 0.2s;
        &:hover {
          background-color: rgba(255, 255, 255, 0.2);
        }
        &::after {
          font-family: swiper-icons;
          font-size: 2rem;
          font-weight: 700;
          color: #000;
        }
      }
      .swiper-button-prev:after,
      .swiper-button-next:after {
        content: "prev";
        padding-right: 5px;
      }
      .swiper-button-next,
      .swiper-rtl .swiper-button-prev {
        right: 10px;
        left: auto;
      }
      .swiper-button-next:after,
      .swiper-rtl .swiper-button-prev:after {
        content: "next";
        padding-left: 10px;
      }
      .swiper-pagination {
        position: absolute;
        text-align: center;
        transition: 0.3s opacity;
        transform: translate3d(0, 0, 0);
        z-index: 10;
        display: flex;
        justify-content: center;
        bottom: 10px;
        left: 0;
        width: 100%;
        gap: 10px;

        &-bullet {
          cursor: pointer;
          width: 20px;
          height: 20px;
          display: inline-block;
          border-radius: 50%;
          background: transparent;
          border: 1px solid rgb(179, 179, 179);

          &-active {
            background: fw.$primary-color;
            border-color: transparent;
          }
        }
      }
    }
  }
}

/* CONTACT US */
.contact-content {
  @include fw.content;
  margin: 100px 0px;

  > :first-child {
    display: flex;
    align-items: center;
    margin-bottom: 60px;
    h2 {
      font-size: 3.75rem;
      font-weight: 500;
      background-color: fw.$primary-color;
      border-radius: 0.5rem;
      padding: 10px 5px;
    }
    p {
      max-width: 700px;
      margin-left: 30px;
      font-size: 1.25rem;
      line-height: 1.2;
    }
  }

  .wrapper-contact {
    position: relative;
    display: flex;
    background-color: fw.$grey-color;
    padding: 60px;
    border-radius: 3rem;
    overflow: hidden;

    > :first-child {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 50%;
      gap: 30px;

      > :first-child {
        font-size: 1.25rem;
        display: flex;
        align-items: center;
        gap: 50px;

        div {
          display: flex;
          align-items: center;
          gap: 10px;

          input[type="radio"] {
            cursor: pointer;
            appearance: none;
            height: 25px;
            aspect-ratio: 1;
            border: 2px solid fw.$dark-color;
            border-radius: 50%;
            background-color: #f3f3f3;
            &:checked {
              background-color: rgba(185, 255, 102, 1);
            }
          }
        }
      }
      .input-content {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        gap: 10px;
        > input {
          padding: 20px;
          border-radius: 1rem;
        }
        textarea {
          max-width: 100%;
          resize: none;
          height: 250px;
          padding: 20px;
          border-radius: 1rem;
        }
      }
      .btn-primary {
        cursor: pointer;

        a {
          width: 100%;
          text-align: center;
          color: fw.$dark-color;
          background-color: fw.$primary-color;
          display: inline-block;
          border: 1px solid fw.$dark-color;
          padding: 1.5rem 2rem;
          border-radius: 1rem;
          font-size: 1.25rem;
          font-weight: 400;

          &:hover {
            color: fw.$dark-color;
            background-color: fw.$white-color;
          }
        }
      }
    }
    > :last-child {
      display: flex;

      img {
        position: absolute;
        right: -350px;
      }
    }
  }
}

/* FOOTER */
footer {
  @include fw.content();
  background-color: fw.$dark-color;
  border-top-left-radius: 3rem;
  border-top-right-radius: 3rem;
  padding-top: 60px;
  padding-left: 60px;
  padding-right: 60px;
  > :first-child {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .logo {
      height: 36px;
      filter: invert(1);
    }
    nav {
      @include fw.display-f-c;

      ul {
        font-size: 1rem;
        font-weight: 500;
        display: flex;
        list-style: none;
        gap: 10px;

        li {
          cursor: pointer;
          padding: 10px;

          a {
            color: #f3f3f3;
            text-decoration: underline;
          }
        }
      }
    }
    > :last-child {
      img {
        width: 30px;
        height: 30px;
        margin: 5px;
        filter: invert(0);
        &:hover {
          filter: invert(1);
        }
      }
    }
  }

  > :nth-child(2) {
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #ffffff;

    > :first-child {
      display: flex;
      flex-direction: column;
      gap: 20px;

      > :first-child {
        color: fw.$dark-color;
        align-self: self-start;
        padding: 5px;
        border-radius: 5px;
        font-weight: 500;
        background-color: fw.$primary-color;
      }
      > :last-child {
        line-height: 1.2;
      }
    }

    > :last-child {
      display: flex;
      align-items: center;
      gap: 20px;
      padding: 58px 40px;
      border-radius: 1rem;
      background-color: rgba(41, 42, 50, 1);

      > input {
        border: 1px solid #ffffff;
        color: #ffffff;
        background-color: transparent;
        padding: 20px;
        padding: 1.5rem 2rem;
        border-radius: 1rem;
      }
      .btn-primary {
        cursor: pointer;

        a {
          color: fw.$dark-color;
          background-color: fw.$primary-color;
          display: inline-block;
          border: 1px solid fw.$dark-color;
          padding: 1.5rem 2rem;
          border-radius: 1rem;
          font-size: 1.25rem;
          font-weight: 400;

          &:hover {
            color: fw.$dark-color;
            background-color: fw.$white-color;
          }
        }
      }
    }
  }

  > :last-child {
    display: flex;
    gap: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
    border-top: 2px solid #f3f3f3;
    color: #f3f3f3;
    > :last-child {
      font-weight: 500;
      color: #f3f3f3;
      text-decoration: underline;
    }
  }
}
