@use "forward" as fw;

body {
  @include fw.display-f-c;
  font-family: "Space Grotesk", sans-serif;
  margin: 0px 20px;
}

.header-content {
  @include fw.content();
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 12px 0px;
  display: flex;
  .logo {
    height: 36px;
  }
  nav {
    @include fw.display-f-c;
    ul {
      font-size: 1rem;
      font-weight: 500;
      display: flex;
      list-style: none;
      gap: 10px;
      li {
        cursor: pointer;
        padding: 10px;
        a {
          color: fw.$dark-color;
        }
      }
    }
    .btn-nav {
      @include fw.display-f-c;
      cursor: pointer;
      margin-left: 30px;

      a {
        background-color: fw.$white-color;
        border: 1px solid fw.$dark-color;
        padding: 1.5rem 2rem;
        border-radius: 1rem;
        font-size: 1.25rem;
        font-weight: 400;
        color: fw.$dark-color;
        &:hover {
          color: fw.$white-color;
          background-color: fw.$dark-color;
        }
      }
    }
  }
} /* end header */

.main-content {
  @include fw.content();

  .wrapper-main {
    margin-top: 40px;
    margin-bottom: 80px;
    display: flex;
    align-items: center;
    main {
      display: flex;
      flex-direction: column;
      gap: 15px;
      width: 50%;
      h1 {
        font-size: 3.75rem;
        max-width: 500px;
      }
      p {
        font-size: 1.25rem;
        line-height: 1.2;
      }
      .btn-primary {
        cursor: pointer;
        a {
          color: #ffffff;
          background-color: fw.$dark-color;
          display: inline-block;
          border: 1px solid fw.$dark-color;
          padding: 1.5rem 2rem;
          border-radius: 1rem;
          font-size: 1.25rem;
          font-weight: 400;
          &:hover {
            color: fw.$dark-color;
            background-color: fw.$white-color;
          }
        }
      }
    }
    img {
      width: 50%;
    }
  }
  .wrapper-partners {
    display: flex;
    justify-content: space-around;
    margin: 50px 0px;
    div {
      @include fw.display-f-c;
      cursor: pointer;
      img {
        height: 48px;
        filter: grayscale(1);
        opacity: 0.5;
        &:hover {
          filter: grayscale(0);
          opacity: 1;
        }
      }
    }
    & :nth-child(2) img {
      height: 35px;
    }
  }
}
